{% extends "base.html" %}

{% block content %}

<div id="root"></div>
<canvas id="tutorial" width="640" height="480"></canvas>

{% endblock content %}


{% block script_content %}

<script>

  const canvas = document.querySelector("#tutorial");
  const ctx = canvas.getContext("2d");
  const image_data = ctx.getImageData;

  var web_sock = new WebSocket('ws://' + window.location.host + '/ws_image');

  web_sock.onopen = () => {
      console.log("Image data websocket opened");
  }
  var temp_data;

  web_sock.onmessage = function(event) {
      console.log("Got message from server");
      var data = event.data;
      temp_data = event;

      const out_data = JSON.parse(event.data);
      const height = out_data.height;
      const width = out_data.width;

      const imageData = ctx.getImageData(0, 0, width, height);
      // this does nothing. 
      // imageData.data = out_data.data;

      console.log("data: ");
      console.log(out_data.data[0]);
      console.log(out_data.data[1]);
      console.log(out_data.data[2]);
      console.log(out_data.data[3]);
      // why is this needed?
      let j = 0;
      for(let i = 0; i < out_data.data.length; i += 3) {
	  imageData.data[j] = out_data.data[i];
	  imageData.data[j+1] = out_data.data[i+1];
	  imageData.data[j+2] = out_data.data[i+2];
	  imageData.data[j+3] = 255;
	  j += 4;
      }
      
      console.log("data: ");
      console.log(imageData.data[0]);
      console.log(imageData.data[1]);
      console.log(imageData.data[2]);
      console.log(imageData.data[3]);

      ctx.putImageData(imageData, 0, 0);
  }

  web_sock.onclose = function(event) {
      console.log("image data websocket closed");
  }
</script>

{% endblock script_content %}

